.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  padding-bottom: 0;
  list-style: none;
  color: var(--gray10);
}

.sidebar__list__title {
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  user-select: none;
}

.sidebar__list__item a {
  color: var(--grey10);
  text-decoration: none;
}

.sidebar__list__item a.active-playlist {
  color: #fff;
  font-weight: 500;
}
