.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: calc(100vh - 48px);
  background-color: var(--gray60);
  padding-top: 20px;
  overflow-y: auto;
}

.sidebar__logo {
  padding-left: 16px;
}

.sidebar__routes {
  margin-top: 24px;
}

.sidebar__routes a {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 8px;
  padding-left: 20px;
  margin: 8px 0;
  margin-right: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--grey10);

  text-decoration: none;
}

a.active {
  background-color: rgba(255, 255, 255, 0.1);
}
a.active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  background-color: var(--primary);
  color: white;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon--home {
  background-image: url("../../assets/icons/home-active.svg");
}

.icon--search {
  background-image: url("../../assets/icons/search-active.svg");
}

.icon--credit-card {
  background-image: url("../../assets/icons/credit-card.svg");
}
