:root {
  /* Colors */
  --primary: #00b050;
  --white: #fff;
  --gray10: #b3b3b3;
  --gray20: #737373;
  --gray30: #282828;
  --gray40: #181818;
  --gray50: #121212;
  --gray60: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: var(--white);
}

body {
  width: 100%;
  background-color: var(--gray50);
  font-family: "Montserrat", sans-serif;
}

.button {
  padding: 8px 32px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  font: var(--button);
  text-transform: uppercase;
  background-color: var(--primary);
  border-radius: 999px;
}

.button-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
