.album-card-list {
  margin: 32px 0 0 32px;
}

.album-card-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}

.album-card-list__header__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.album-card-list__header__actions {
  display: flex;
  gap: 8px;
  padding-right: 14px;
}

.album-card-list__header__actions__button {
  display: inline-grid;
  place-items: center;
  min-width: 40px;
  min-height: 40px;
  border: none;
  cursor: pointer;
  background: var(--gray60);
  border-radius: 999px;
}

.album-card-list-container {
  display: flex;
  width: 100%;
  margin-top: 16px;
  padding-bottom: 10px;
  gap: 16px;
  overflow-x: auto;
}

.album-card-list-container::-webkit-scrollbar {
  background-color: var(--gray40);
}

.album-card-list-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.album-card-list-container::-webkit-scrollbar-thumb {
  background: var(--gray30);
  border-radius: 10px;
}
